<div class="layui-card-body" pad15>

  <div class="layui-form" lay-filter="">
    <div class="layui-form-item">
      <label class="layui-form-label">当前密码</label>
      <div class="layui-input-inline">
        <input class="layui-input" lay-verType="tips" lay-verify="required" name="oldPassword"
               type="password">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">新密码</label>
      <div class="layui-input-inline">
        <input autocomplete="off" class="layui-input" id="LAY_password" lay-verType="tips"
               lay-verify="pass"
               name="password" type="password">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">确认新密码</label>
      <div class="layui-input-inline">
        <input autocomplete="off" class="layui-input" lay-verType="tips" lay-verify="repass"
               name="repassword" type="password">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-filter="setmypass" lay-submit>确认修改</button>
      </div>
    </div>
  </div>

</div>